<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <link rel="stylesheet" href="@Assets["css/highlight.css"]" />
    <link rel="stylesheet" href="@Assets["css/markdown.css"]" />
    <link rel="stylesheet" href="@Assets["PicoBusX.Web.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="@(new InteractiveServerRenderMode(prerender: true))" />
    
    <!-- Make the body background dark if dark mode will be enabled to prevent a flash of white
         before fully rendered. This value is from --neutral-layer-2, but that custom
         property isn't available at this point. -->
    <style>
        @@media (prefers-color-scheme: dark) {
            body {
                background-color: #272727;
            }
        }
    </style>
</head>

<body >
<Routes @rendermode="@(new InteractiveServerRenderMode(prerender: true))" />

    <script data-permanent src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"></script>
    <script data-permanent src="_content/BlazorMonaco/jsInterop.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
